.alliumSchmallium.beamer.md.in.swp
IMA.csl
alliumSchmallium.aux
alliumSchmallium.bbl
alliumSchmallium.bib
alliumSchmallium.blg
alliumSchmallium.log
alliumSchmallium.nav
alliumSchmallium.out
alliumSchmallium.snm
alliumSchmallium.tex
alliumSchmallium.toc
alliumSchmallium.vrb
